@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://i.icomoon.io/public/temp/d661cb03f8/UntitledProject/style.css);
@import url(https://fonts.googleapis.com/css?family=Lobster:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    font-family: 'Ubuntu', sans-serif;
}

.hidden {
    display: none !important; 
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    background: #FFF;
    
    top: 0;
    left: 0;
    background: #576272;
}

body {
    margin: 0;
    margin-top: 64px;
}

/* Header / nav */
.menu-icon {
    float: left;
    margin: 0px;
    padding: 0px;
    
    height: 48px;
    width: 48px;
    
    display: block;
    transition: 0.3s;
    
    background-color: #EEE;
}

.menu-icon[data-showmenu="false"] { 
    background: center url("img/burger.png"); 
}

.menu-icon[data-showmenu="true"] {
    background: center url("img/closed.png"); 
}

.menu-icon:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #906F5D;
}

header {
    z-index: 10;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 48px;
    
    position: fixed;
    
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
}

header a {
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

header ul[data-showmenu="false"] {
    height: 0%;
}

header ul[data-showmenu="true"] {
    height: 400%;
}

header ul[data-showmenu="false"] li {
    opacity: 0;
    transition: 0.5s;
}

.title {
    font-family: "Oswald", cursive;
    font-size: 1.5em;
}

header li {
    list-style-type: none;
    display: block;
    height: 100%;
    max-height: 48px;
    width: 100%;
    background-color: #EEE;
}

.navb:link, .navb:visited {
    color: #000;
    display: block;
    
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    height: 100%;
    width: 100%;
    
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.navb:hover, .navb:active {
    color: #FFF;
    background-color: #6F90A2;
    transition: 0.3s;
}

.navlog {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    height: 48px;
    width: 96px;
    text-align: center;
    color: #000;
    background-color: #EEE;
    float: right;
    transition: 0.3s;
}

.login:hover {
    background-color: #70B45A;
    color: #FFF;
    transition: 0.3s;
}

.logout:hover {
    background-color: #D46A6A;
    color: #FFF;
    transition: 0.3s;
}

/** Content **/

.content {
    margin: 0px auto;
    max-width: 1000px;
    min-height: 50%;
    width: 95%;
    border: 1px solid #EEE;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFF;
    padding-bottom: 5%;
    transition: 0.3s;
}

.content p {
    margin: 5%;
}

.content a {
    text-decoration: none;
    color: #6F90A2;
    transition: 0.5s;
}

.content a:hover {
    color: #BBB;
    transition: 0.5s;
}

.link {
    color: #000;
    background-color: #EEE;
    display: block;
    /*width: 20%;*/
    max-width: 200px;
    margin: 0 auto 0 auto;
    text-decoration: none;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 5px;
    transition: 0.3s;
}

.link:hover {
    color: #FFF;
    background-color: #6F90A2;
    transition: 0.3s;
}

.content h4 {
    z-index: 15;
    font-family: "Oswald", cursive;
    font-size: 1.5em;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 192px);
    margin: 5px 96px;
    font-weight: normal;
}

.error {
    background-color: #D46A6A;
    width: 60%;
    border: 1px solid #EEE;
    border-radius: 2px;
    margin: 15 auto;
    padding: 5px;
}

.login-form {
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 2px;
    margin: 5% auto 0 auto;
    padding: 10px;
    width: 20%;
    min-width: 200px;
}

.login-form input {
    height: 48px;
    border: 1px solid #DDD;
    padding: 5px;
    display: block;
    width: 90%;
    margin: 10 auto 0 auto;
}

.login-form button {
    font-size: 2em;
    background-color: #FFF;
    border: 1px solid #DDD;
    width: 90%;
    height: 48px;
    margin: 10 auto 10 auto;
    transition: 0.3s;
}

.login-form button:hover {
    color: #FFF;
    background-color: #70B45A;
    transition: 0.3s;
    cursor: pointer;
}

.urls {
    border: 1px solid #EEE;
    width: 90%;
    margin: 0 auto;
    color: #FFF;
    background-color: #4F3F5B;
    border-radius: 2px;
}

.urls th {
    background-color: #33253C;
    height: 32px;
}

.urls td {
    text-align: center;
}

.urls tr:nth-child(odd) {
    background-color: #685874;
}

.urls input {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #DDD;
    text-align: center;
    transition: 0.3s;
}

.urls input:focus {
    background-color: #6F90A2;
    color: #FFF;
    transition: 0.3s;
}

.urls button {
    color: #000;
    background-color: #EEE;
    display: block;
    width: 100%;
    height: 32px;
    margin: 0 auto 0 auto;
    text-decoration: none;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 5px;
    transition: 0.3s;
}

.urls button:hover {
    color: #FFF;
    background-color: #70B45A;
    transition: 0.3s;
    cursor: pointer;
}

.urls .icon-bin:hover {
    background-color: #D46A6A;
}

.urls a {
    max-width: 100%;
}

.content .list {
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 5%;
    text-align: left;
    background-color: #222;
    transition: 0.5s;
}

.content .list h3 {
    text-align: center;
    background-color: #EEE;
    color: #000;
    display: block;
    margin: 0px;
    padding: 5%;
}

.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content li {
    background-color: #444;
    padding: 5px;
    padding-left: 15px;
    border-radius: 3px;
}

.content li:nth-child(odd) {
    background-color: #333;
}

@media only screen and (min-width: 48em) {
    
    /** Content **/
    
    .content {
        margin-top: 96px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px #000;
        transition: 0.3s;
    }
  
}

/** Non-tiny header **/

@media only screen and (min-width: 35em) {
  
    html {
        background: radial-gradient(#576272, #3F4959);
        background: -webkit-radial-gradient(#576272, #3F4959);
    }
  
    /** Header **/
  
    .menu-icon {
        width: 0;
    }
  
    header {
        height: 32px;
        box-shadow: 0px 0px 10px #000;
    }
    
    header ul {
        margin-top: 0;
        display: block;
        min-height: 32px;
        width: calc(100% - 96px);
    }
    
    header li {
        vertical-align: middle;
        display: inline-block;
        width: 20%;
        max-width: 150px;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 32px;
    }

    header ul[data-showmenu="false"] li {
        opacity: 1;
        transition: 2s;
    }
    
    .navlog {
        height: 32px;
    }

    .content h4 {
        z-index: 0;
        position: relative;
        color: #FFF;
        font-size: 2.5em;
        padding: 20px 0;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #EEE;
    }
    
    .content .list h3 {
        min-height: 50px;
        vertical-align: middle;
    }
    
    .content .list {
        width: 30%;
        margin: 1%;
        display: inline-block;
        vertical-align: top;
        height: 80%;
    }
    
    #list-apps {
        
    }
  
}